Source: phusion-passenger
Section: web
Priority: extra
Maintainer: Marcin Antczak <marcin.antczak@neutrico.pl>
Build-Depends: debhelper (>= 8.0.0), gem2deb (>= 0.2.6~), rake, apache2-threaded-dev | apache2-prefork-dev,
 apache2-mpm-worker | apache2-mpm-prefork, asciidoc (>= 8.6), source-highlight, libev-dev, libcurl4-openssl-dev
Standards-Version: 3.9.2
Homepage: http://www.modrails.com/
Vcs-Git: git://github.com/marcinant/deb-phusion-passenger.git
Vcs-Browser: https://github.com/marcinant/deb-phusion-passenger

Package: phusion-passenger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, python
Conflicts: passenger-common
Replaces: passenger-common
Description: Rails and Rack support for Apache2
 Phusion Passenger — a.k.a. mod_rails or mod_rack — makes 
 deployment of Ruby web applications, such as those built on the 
 revolutionary Ruby on Rails web framework, a breeze.

Package: libapache2-mod-passenger
Architecture: any
Depends: ${shlibs:Depends}, apache2.2-common, phusion-passenger (= ${binary:Version}), ruby-daemon-controller (>= 0.2.5), ruby-rack
Description: Rails and Rack module for Apache2
 Phusion Passenger — a.k.a. mod_rails or mod_rack — makes 
 deployment of Ruby web applications, such as those built on the 
 revolutionary Ruby on Rails web framework, a breeze.
