#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_build:
	PATH=/usr/bin:$$PATH rake --trace doc apache2 APXS2=/usr/bin/apxs2 USE_VENDORED_LIBEV=no RELEASE=yes
	PATH=/usr/bin:$$PATH rake1.9.1 --trace native_support RELEASE=yes

override_dh_clean:
	PATH=/usr/bin:$$PATH rake apache2:clean
	PATH=/usr/bin:$$PATH rake1.9.1 native_support:clean
	dh_clean
